<div class="col-md-12">
  <div class="pull-right">
    <%= link_to("添加新职位", new_admin_job_path, :class => "btn btn-primary") %>
  </div>
  <h2 class="text-center">我发布的职位</h2>
  <table class="table table-boldered table-striped custab">
    <thead>
      <tr>
        <th>#</th>
        <th>职位</th>
        <th>简介</th>
        <th>发布时间</th>
        <th>投递简历数</th>
        <th>管理选项</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>#</td>
          <td>
              <%= render_job_status(job) %>
              <%= link_to(job.title, admin_job_path(job))%></td>
          <td><%= job.description%></td>
          <td><%= job.created_at%></td>
          <td><%= link_to(job.resumes.count, admin_job_resumes_path(job)) %></td>
          <td>
              <%= link_to("编辑", edit_admin_job_path(job), class: "btn btn-xs btn-info")%>
              <%= link_to("删除", admin_job_path(job), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "你确定删除该职位吗？"})%>
              <% if job.is_hidden %>
                <%= link_to("公开", publish_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-success")%>
              <% else %>
                <%= link_to("隐藏", hide_admin_job_path(job), :method => :post, :class => "btn btn-xs btn-warning")%>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
