<!DOCTYPE html>
<html>

  <head>
    <title>offer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', :async => true %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body id="<%= "#{controller_name}-#{action_name}"%>">
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
      </div>
      <%= yield %>

      <%= render "common/footer" %>
    </div>
  </body>
</html>
